@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Roboto:100,900&display=swap');
    *{
      box-sizing: border-box;
    }
    html,body{
      overflow-x: hidden;
    }
    body{
      font-family: 'Roboto', sans-serif;
      margin: auto;
      background-color: #f9f9f9;
      color: #323232;
    }
    #flare{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      width: 100vw;
      height: 8vh;
      background: url('oldnewz-kick.gif') repeat 0 0;
    }
    .wrapper{
      max-width: 1850px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
    header{
      background-color: #333;
      color: #fff;
      /* width: fit-content; */
      text-align: center;
      padding: 16px;
      margin: 12px auto 14px;
      font-weight: normal;
      font-size: 20px;
    }
    .container{
      max-width: 780px;
      width: 95%;
      margin: 0 auto;
    }
    a{
      color: #0069ff;
      font-size: 20px;
    }
    img{
      max-width: 100%;
      /* min-width: 500px; */
      height: auto;
      display: block;
    }
    h3{
      text-transform: uppercase;
      letter-spacing: 1vw;
      text-align: center;
      margin: 82px 0px 0px;
    }
    a.home-link{
      width: 100%;
    }
    h1,h2{
      text-transform: uppercase;
      letter-spacing: .6px;
      display: inline;
      padding: 10px 0;
      display: inline-block;
      margin: 0px 0;
    }
    h1{
      color: #f7f7f5;
      font-size: 34px;
      line-height: 56px;
      font-weight: 900;
      padding: 8px 0;
      border-radius: 4px;
      text-align: justify;
    }
    span{
      background-color: #323232;
      padding: 2px;
    }
    h2{
      font-size: 26px;
      line-height: 36px;
      font-weight: 100;
      font-style: italic;
      text-align: left;
    }
    .block{
      height: 35px;
      width: 4%;
      margin-left: 96%;
      margin-bottom: 40px;
      background-color: #333;
    }
    p{
      font-weight: 300;
      font-family: 'Merriweather', sans-serif;
      font-size: 22px;
      line-height: 38.5px;
      letter-spacing: .4px;
    }
    em{
      background: #ffff00;
      box-shadow: 1px 1px 4px 3px #ffff0099;
      font-style: normal;
      /* padding: 2px 8px 4px 4px; */
      border-radius: 4px;
    }
    code{
      border-radius: 4px;
      display: inline-block;
      width: 100%;
      white-space: pre-wrap;
      background-color: #f4f4f4;
      font-size: 18px;
      line-height: 28.5px;
      margin: 10px 0;
      text-transform: uppercase;
      text-decoration: line-through;
      text-align: right;
    }
    table{
      width: 100%;
      font-size: 22px;
      margin: 20px 0;      
      text-align: center;
    }
    td{
       padding: 0 40px 0 0;
    }

    @media (min-width: 1200px){
      #flare{
        width: 20vw;
        height: 30vh;
        clip-path: polygon(0 0, 100% 0, 0 100%);
      }
      h3{
        text-transform: uppercase;
        letter-spacing: 1vw;
        text-align: center;
        margin: 22px 0px 20px;
      }
    }